.ant-dropdown {
    left: 100px !important;
  }
  




.menu {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 100%;
    min-height: 570px;
    max-height: 570px;
    margin-left: 2px;
    padding: 30px 60px;
   
   
    border-radius: 20px solid red !important;
    
    transform: translate3d(0, 0, 0);
    
    transition: all 1.5s ease-in-out;
   
    left: 575px;
    
    z-index: 8;
  }


.active1 {
  position: absolute;
  width: 60%;
  left: 755px;
  z-index: 10;
  transition: all  2.5s ease; 
  min-height: 620px;
  max-height: auto;
  transition: transform 100s;
  transform: translateY(-100%,0);
  border: 2px solid grey;
}
.active2 {
  position: absolute;
  z-index: 15;
  transition: all 2.5s ease; 
  transform: translate3d(100%, 0, 0);
  min-height: 680px;
  max-height: 980px;
  border: 5px solid white;
}
/* .menu2 {
  
  z-index: 5;
  background: #00000000;
  min-height: 300px;
  height: auto;
  width: 100%;
  position: relative;
  transition: all 1.5s ease;
  left: -5px;
  transform: translate(0);


  margin-left: 2px;
} */
.sidebar-css {
  position: absolute;
    left: 906px;
    top: 0px;
    bottom: 0px;
    margin-top: 275px;
    float: left;
     overflow: hidden auto; 
    width: 300px;
    height:300px;
    background: rgb(0, 150, 136);
    color: rgb(255, 255, 255);
    transition: left 2.25s ease-in 0.5s;
    z-index: 10;  
   
}

.menu1 {
  transform: translate(0);
  z-index: 1;
  transition: all 1.5s ease-out;
}

