/* .orgchart.myChart {
  background-image: linear-gradient(
      90deg,
      rgba(33, 90, 136, 0.15) 10%,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(rgba(33, 90, 136, 0.15) 10%, rgba(0, 0, 0, 0) 10%) !important;
} */

.orgchart.myChart > ul > li > ul li::before {
  border-top-color: Violet;
}

.orgchart.myChart > ul > li > ul li .oc-node::before,
.orgchart.myChart ul li .oc-node:not(:only-child)::after {
  background-color: Violet;
}

.orgchart.myChart .oc-node .position2 {
  box-sizing: border-box;
  background-color: Violet;
  color: #fff;
  width: 130px;
  height: 65px;
  padding: 4px;
}

.orgchart.myChart .oc-node .fullname2 {
  box-sizing: border-box;
  color: black;
  background-color: LightGray;
  width: 130px;
  height: 65px;
  padding: 2px;
  border: 1px solid Violet;
}
.orgchart.myChart .oc-node .department2 {
  box-sizing: border-box;
  /* background-color: #f2b36e; */
  color: Violet;
  background-color: Violet;
  width: 130px;
  height: 22px;
  padding: 2px;
}