.Role-card-container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px !important;
    color: black;
    padding: 5%;
    margin-top:-2%;
    margin-left:-2%;
  }
  /* .educationdetail-heading111{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1230px;
    height: 750px;
    top: 10px;
    bottom: 105px;
    left: -5px;
    padding: 30px; 
  } */
  .errorRes {
    margin-top: 8px;
    color: red;
  }
  .createRole-form-container {
    padding-left: 2%;
    padding-right: 2%;
  }
  .form-labels-1 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
  }
  
  .role-heading-1 {
    font-weight: bold;
    font-size: 24px;
  }
  .role-form-container-1{
    padding-left: 2%;
    padding-right: 2%;
}
  .stretching {
    flex-grow: 1 !important;
  }
  .btn-container-role {
    padding-left: 60%;
    padding-right: 10%;
  }
  .seperator-1 {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .blueColor-btn {
    background: #0676ed !important;
    color: white;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 12px;
  }
  .blueColor-btns {
    background: white !important;
    color: black;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 12px;
  }
  
  .blueColor-btn2 {
    background: #0676ed !important;
    color: white;
    width: 80px;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
  }
  
  .EducationDetail-card-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1230px;
    height: 500px;
    top: 10px;
    bottom: 140px;
    left: -5px;
    padding: 30px; 
    padding-top: 15px !important;
   
  }
  
  .Roless-card-container-1{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
     width: 1200px;
    min-height: 700px;
    height: auto;
    top: -40px;
    /* bottom: 150px;  */
    left: -45px; 
    border:1px solid #d3d3d3;
    padding: 5%; 
   
  }
  .blueColor-btn:hover {
    background: #0676ed !important;
    color: #ffffff;
    font-weight: bold;
  }
  
  .cancel-btn {
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
  }
  .cancel-btn:hover {
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
  }
  
  .Administrative-card-container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    float: left;
    width: 96%;
    height: 350px;
    top: -60px;
    margin-left: 28px;
  }

  .functional-card-container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    float: left;
    width: 96%;
    height: 500px;
    top: -60px;
    margin-left: 28px;
  }

  .createRole-card-container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1200px;
    height: 500px;
    top: -15px;
    bottom: 105px;
    left: -30px;
    padding: 20px;
    /* float: left; */
  }
.box8{
    width: 150PX !important;
    margin-right: 180PX; 
}
  .box::-webkit-input-placeholder {
    font-size: 11px !important;
  }
  option {
    font-size: 11px !important;
  }
  .box ::-webkit-input-value {
    font-size: 11px !important;
  }
  .icon-role-list {
    width: 20px;
    height: 20px;
  }
  .centers {
    margin: 0;
    position: absolute;
    left: 90%;
    top: 20%;
    width: 20px;
    height: 20px;
  }
  .role1 {
    margin: 0;
    position: absolute;
    left: 88%;
  }
  .role2 {
    margin: 0;
    position: absolute;
    left: 80%;
  }
  .center-6{
    margin: 0;
    position: absolute;
    left: 88%;
  }
 
  .centerd-7{
    margin: 0;
    position: absolute;
    left: 79%;
  }

  .centerd-8{
    margin: 0;
    position: absolute;
    left: 71%;
  }
  .fas fa-trash{
    margin-Right: "774px";
  color: "#e85654";
  }

