/* .orgchart.myChart {
  background-image: linear-gradient(
      90deg,
      rgba(33, 90, 136, 0.15) 10%,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(rgba(33, 90, 136, 0.15) 10%, rgba(0, 0, 0, 0) 10%) !important;
} */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.orgchart.myChart>ul>li>ul li::before {
  border-top-color: #3385ff;
}

.orgchart.myChart>ul>li>ul li .oc-node::before, .orgchart.myChart ul li .oc-node:not(:only-child)::after {
  background-color: #3385ff;
}

.orgchart.myChart ul li .oc-node {
  padding: 18px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.orgchart.myChart .oc-node .position2 {
  box-sizing: border-box;
  color: #ffff;
  background-color: rgba(217, 83, 79, 0.8);
  ;
  /* width: 230px;
  height: 100px;
  padding: 10px 4px; */
  border: 1px rgba(217, 83, 79, 0.8);
  ;
  margin-top: 10px;

 
  padding: 2px;
  margin: 0;
  width: 230PX;
  height: 46PX;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  border-radius: 4px 4px 0 0;
}

.font1 {
  font-size: 16px;
  font-weight: 700;
}

.fonts2 {
  font-size: 14px;
  font-weight: 700;
  font-family: serif;
}

.font3 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-bottom: 30px;
}

.orgchart.myChart .oc-node .fullname2 {
 
  
  /* background-color: #ffff;
  width: 230px;
  height: 65px;
  padding: 15px 2px;
  border: 1px solid #ffafbd; */


  box-sizing: border-box;
  padding: 2px;
  width: 230PX;
  height: 25px;
  font-size: 0.625rem;
  border: 1px solid rgba(217, 83, 79, 0.8);
  border-radius: 0 0 4px 4px;
  text-align: center;
  background-color: #fff;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .finalDiv{
  padding: 13px;
  border-radius: 5px 0px;
  background-color: #3285ff;
} */

.orgchart.myChart .oc-node .department4 {
  box-sizing: border-box;
  /* background-color: #f2b36e; */
  color: black;
  background-color: #ffffff;
  width: 230px;
  height: 45px;
  padding: 8px 2px;
  border: 1px solid #3385ff;
}

.orgchart .oc-node .bottomEdge {
  bottom: 11px!important;
}

.orgchart .oc-node .verticalEdge {
  width: calc(100% - 6px);
  width: -moz-calc(100% - 6px);
  height: 10px!important;
  left: 3px!important;
}

.orgchart .oc-node .topEdge {
  top: 20px!important;
}

.orgchart .oc-node .verticalEdge {
  width: calc(100% - 6px);
  width: -moz-calc(100% - 6px);
  height: 10px!important;
  left: 3px!important;
}

/* .orgchart ul li .oc-node:not(:only-child)::after {
  content: "";
  position: absolute;
  bottom: -32px!important;
  left: calc(50% - 1px);
  width: 2px!important;
  height: 50px!important;
  background-color: rgba(217, 83, 79, 0.8);
} */

.orgchart ul li .oc-node.selected {
  background-color: transparent!important;
}

.orgchart>ul>li>ul li::before {
  top: -4px!important;
}

/* .orgchart > ul > li > ul li > .oc-node::before {
  content: "";
  position: absolute;
  top: 2px!important;
  left: calc(50% - 1px);
  width: 2px!important;
  height: 25px!important;
  background-color: rgba(217, 83, 79, 0.8);
} */

.orgchart .oc-node .leftEdge {
  left: 10px!important;
}

.orgchart .oc-node .horizontalEdge {
  top: 33px!important;
}

.orgchart .oc-node .rightEdge {
  right: 10px!important;
}
.finalDiv {
  border: none !important;
  height: 190px;
}