

.errorRes{
    margin-top: 8px;
    color: red
}
.bulks-form-container{
    padding-left: 2%;
    padding-right: 2%;
}
.bulk-heading{
    color: #000000;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.form-label{
    font-weight: bold;
    font-size: 14px;
    left: 20px;
    padding-left: 2%;
}
.form-labels{
    font-weight: bold;
    font-size: 14px;
    left: 60px;
    padding-left: 30%;
}

.stretching{
    flex-grow: 1 !important;
   
}
.btn-container-role{
    padding-left: 60%;
    padding-right: 10%;
}
.seperator{
    margin-top: 3%;
    margin-bottom: 3%;
}
.blueColor-btns{
    
    background: #0676ED!important;
    color: white;
    font-weight: bold;
    font-size: 12px;
   float: right;
   width: 100PX;
   padding-left: 3%;
   margin-top: -2%;
}
.float-right{
      
    background: #0676ED!important;
    color: white;
    font-weight: bold;
    font-size: 12px;
   
    
  
}
.blueColor-btn{
    
    background: #0676ED!important;
    color: white;
    font-weight: 600;
     font-size: 12px;

}
.whiteColor-btn{
    
    background: white!important;
    color: black;
    font-weight: bold;
    font-size: 12px;


}
.blueColor-btn:hover{
    background: #0676ED !important;
    color: #FFFFFF;
    font-weight: bold;
    
}

.cancel-btn{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
}
.cancel-btn:hover{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
    
}

.BulkDetails-card-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    float: left;
    top: -40px;
}
.Bulk-card-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1230px;
    height: 605px;
    top: -15px;
    bottom: 105px;
    left: -30px;
    padding: 20px; 
 
} 
.BulkDetail-card-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    position: absolute;
    width: 580px;
    height: 178px;
    left: 200px;
    top: 200px;
 
} 

.box::-webkit-input-placeholder{
    font-size: 11px !important;
}
option{
    font-size: 11px !important;
}

.icon-role-list{
    width: 20px;
    height: 20px;
}
.centers{
    margin: 0;
    position: absolute;
    left: 90%;
    top: 20%;
    width: 20px;
    height: 20px;
}
.center {
    margin: 0;
    position: absolute;
    left: 88%;
    padding:2%;
    top:90px;
  }
  .centerd {
    margin: 0;
    position: absolute;
    right: 80%;
    
  }
  .image{
    position: absolute;
   width: 130px;
   height: 120px;
   left: 563px;
   top: 225px;
   background: lightgray;}