.Role-card-container{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px !important;
    color: black;
    padding: 7%;
}
.errorRes{
    margin-top: 8px;
    color: red
}
.role-form-container{
    padding-left: 25%;
    padding-right: 25%;
}
.role-heading{
    color: #000000;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.form-labels{
    font-weight: bold;
    font-size: 14px;
}

.stretching{
    flex-grow: 1 !important;
   
}
.btn-container-role{
    padding-left: 60%;
    padding-right: 10%;
}
.seperator{
    margin-top: 3%;
    margin-bottom: 3%;
}
.blueColor-btn{
    
    background: #0676ED!important;
    color: white;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 12px;
    
}
.blueColor-btn:hover{
    background: #0676ED !important;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    
}

.cancel-btn{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
}
.cancel-btn:hover{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
    
}

.Roles-card-container{
    position: absolute;
    width: 1097px;
    height: 516px;
    left: 319px;
    top: 127px;
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    float: left;
}

.box::-webkit-input-placeholder{
    font-size: 11px !important;
}
option{
    font-size: 11px !important;
}
.box ::-webkit-input-value{
    font-size: 11px !important;
}
.centers{
    margin: 0;
    position: absolute;
    left: 90%;
    top: 20%;
    width: 20px;
    height: 20px;
}
.center {
    margin: 0;
    position: absolute;
    /* top: 50%; */
    left: 87%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }