.OfficeLocation-card-container-6{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
     width: 1220px;
     height: auto;
    /* top: -10px;
    bottom: 150px; */
    left: -5px; 
    border:1px solid #d3d3d3;
    padding: 5%; 
}

.OfficeLocation-card-container{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1240px;
    height: auto;
    top: 10px;
    bottom: 150px;
    left: -6px;
    padding: 20px; 
}
.Office-card-container-6{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
     width: 1200px;
    height: 420px;
    top: -28px;
    /* bottom: 150px;  */
    left: -35px; 
    border:1px solid #d3d3d3;
    padding: 5%; 
}

.Office-card-container{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1230px;
    height: 750px;
    top: -1px;
    bottom: 150px;
    left: -12px;
    padding: 20px; 
}
.errorRes{
    margin-top: 5px;
    color: red
}
/* .role-form-container{
    padding-left: 25%;
    padding-right: 25%;
} */
.role-heading-6{
    font-family: Noto Sans;
font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.form-labels-6{
    font-weight: bold;
    font-size: 14px;
}

.stretching{
    flex-grow: 1 !important;
   
}
.blueColor-btns1{
    margin: 0px 10px 0px  10px;
}
.btn-container-role{
    padding-left: 60%;
    padding-right: 10%;
}
/* .seperator{
    margin-top: 3%;
    margin-bottom: 3%;
} */


.blueColor-btn3{
    
    background: #ff4d4d!important;
    color: white;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 12px;

}

.blueColor-btn:hover{
    background: #0676ED !important;
    color: #FFFFFF;
    font-weight: bold;
    
}

.cancel-btn{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
}
.cancel-btn:hover{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
    
    background: #0676ED!important;
    color: white;
    font-weight: bold;
}
.blueColor:hover{
    background: #0676ED!important;
    color: white;
    font-weight: bold;
}

.box{
    /*\ margin-left: 5PX; */
    margin-right: 140px;
    width: 140px;
}


.box3{
    width: 50PX !important;
    margin-right: 230PX;
    /* margin-right: ; */
}

.box4{
    margin-right: 0PX;
    /* margin-right: ; */
}
.box2{
    width: 130PX !important;
    margin-right: 18PX;
    /* margin-right: ; */
}
.Roles-card-containe-6{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    float: left;
}
.role-form-container-6{
    padding-left: 2%;
    padding-right: 2%;
}
.seperator-6{
    margin-top: 3%;
    margin-bottom: 3%;
}

.box::-webkit-input-placeholder{
    font-size: 11px !important;
}
option{
    font-size: 11px !important;
}
.box ::-webkit-input-value{
    font-size: 11px !important;
}
.icon-role-list{
    width: 20px;
    height: 20px;
}

.center-6{
    margin: 0;
    position: absolute;
     nav-down: 50%; 
    left: 90%;
  }
  .centerd-6{
    margin: 0;
    position: absolute;
    nav-down: 50%; 
    left: 78%;
  
  }
  .centerd-7{
    margin: 0;
    position: absolute;
    nav-down: 50%; 
    left: 90%;
   width:700px;
  }



.table-1500px{
    width: max-content;
    overflow: scroll;
    overflow-x: hidden;
}

  .OfficeLocationUpload {
    margin: 3%;
    min-height: 400px;
  }
  
.fafa-sitemap {
    width:50px;
}
/* .Rows{
    margin-left: '20px';
} */
.btn.btn-info {
    background: #2780E3;
    border-color: #2780E3;
    margin-left:932px;
}
/* .saveBtn{
    background: #2780E3;
    border-color: #2780E3;
    margin-left:932px;
} */
.btn.btn-danger {
    background: #e85656;
    border-color: #e85656;
    margin-left: 1017px;
    margin-top: -48px;
}
.btn-sm {
    height: 28px;
    font-size: 14px;
    padding: 3px 8px;
    
}

.table-responsive {
    display: block;
    width: 99% !important;
}


/* ul.pagination{
    position: relative;
    left: 863px ;
    top: -15px ;
}



/* .row {
    display: flex;
    flex-wrap: wrap;
    right: -434px !important;
    margin-left: -15px;
} */

.font8 {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 250px;
    height: 20px;
    position: relative;
    bottom: 3px;
    left: 335px;
}

