.OfficeLocation-card-container-6{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
     width: 1220px;
     height: auto;
    /* top: -10px;
    bottom: 150px; */
    left: -5px; 
    border:1px solid #d3d3d3;
    padding: 5%; 
}

.scrollCard{
    background-color: "#fff";
    margin: 10px 15px;
    width: 180px;
    height: 70px;
    padding: 20px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #d3d3d3; */
    /* border-radius: 10px; */
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: #d8dbe0;
}

.scrollCard:hover{
    box-shadow: 1px 3px 5px 1px #4a4a4a;
}

.scrollCardText{
    color: 'black';
    font-weight: bold;
    display: block;
}

.OfficeLocation-card-container-location{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1240px;
    height: auto;
    top: 10px;
    bottom: 150px;
    left: -6px;
    padding: 20px; 
}
.Office-card-container-6{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
     width: 1200px;
    height: 420px;
    top: -28px;
    /* bottom: 150px;  */
    left: -35px; 
    border:1px solid #d3d3d3;
    padding: 5%; 
}

.Office-card-container{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1230px;
    height: 800px;
    top: -1px;
    bottom: 150px;
    left: -12px;
    padding: 20px; 
}
.errorRes{
    margin-top: 5px;
    color: red
}
/* .role-form-container{
    padding-left: 25%;
    padding-right: 25%;
} */
.role-heading-6{
    font-family: Noto Sans;
font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.form-labels-6{
    font-weight: bold;
    font-size: 14px;
}

.stretching{
    flex-grow: 1 !important;
   
}
.blueColor-btns1{
    margin: 0px 10px 0px  10px;
}
.btn-container-role{
    padding-left: 60%;
    padding-right: 10%;
}
/* .seperator{
    margin-top: 3%;
    margin-bottom: 3%;
} */


.blueColor-btn3{
    
    background: #ff4d4d!important;
    color: white;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 12px;

}

.blueColor-btn:hover{
    background: #0676ED !important;
    color: #FFFFFF;
    font-weight: bold;
    
}

.cancel-btn{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
}
.cancel-btn:hover{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
    
    background: #0676ED!important;
    color: white;
    font-weight: bold;
}
.blueColor:hover{
    background: #0676ED!important;
    color: white;
    font-weight: bold;
}

.box{
    /*\ margin-left: 5PX; */
    margin-right: 140px;
    width: 140px;
}


.box3{
    width: 50PX !important;
    margin-right: 230PX;
    /* margin-right: ; */
}

.box4{
    margin-right: 0PX;
    /* margin-right: ; */
}
.box2{
    width: 130PX !important;
    margin-right: 18PX;
    /* margin-right: ; */
}
.Roles-card-containe-6{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    float: left;
}
.role-form-container-6{
    padding-left: 2%;
    padding-right: 2%;
}
.seperator-6{
    margin-top: 3%;
    margin-bottom: 3%;
}

.box::-webkit-input-placeholder{
    font-size: 11px !important;
}
option{
    font-size: 11px !important;
}
.box ::-webkit-input-value{
    font-size: 11px !important;
}
.icon-role-list{
    width: 20px;
    height: 20px;
}

.center-6{
    margin: 0;
    position: absolute;
     nav-down: 50%; 
    left: 90%;
  }
  .centerd-6{
    margin: 0;
    position: absolute;
    nav-down: 50%; 
    left: 78%;
  
  }
  .centerd-7{
    margin: 0;
    position: absolute;
    nav-down: 50%; 
    left: 80%;
   width:700px;
  }


  .OfficeLocationUpload {
    margin: 3%;
    min-height: 400px;
  }
  
.fafa-sitemap {
    width:50px;
}
/* .Rows{
    margin-left: '20px';
} */
/* .btn.btn-primary {
    background: #2780E3;
    border-color: #2780E3;
    margin-left:88px;
} */

.btn.btn-danger {
    background: #e85656;
    border-color: #e85656;
    margin-left:60px;
}
.btn-sm {
    height: 28px;
    font-size: 14px;
    padding: 3px 8px;
}

/* .table-responsive {
    display: block;
    width: 200%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
} */


/* ul.pagination{
    position: relative;
    top: 20px;
    left:310px;
} */

/* .row {
    display: flex;
    flex-wrap: wrap;
    right: -446px;
    margin-left: -15px;
} */



.table-1500px{
    width: max-content;
    overflow: scroll;
    overflow-x: hidden;
}

/* ul.pagination{
    position: relative;
    left: 395px ;
    top: 10px ;
} */

.Card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height:300px;
    background-color: blueviolet;
    color:white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
  }