/* .orgchart.myChart {
  background-image: linear-gradient(
      90deg,
      rgba(33, 90, 136, 0.15) 10%,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(rgba(33, 90, 136, 0.15) 10%, rgba(0, 0, 0, 0) 10%) !important;
} */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.orgchart.myChart > ul > li > ul li::before {
  border-top-color: #3385ff;
}

.orgchart.myChart > ul > li > ul li .oc-node::before,
.orgchart.myChart ul li .oc-node:not(:only-child)::after {
  background-color: #3385ff;
}

.orgchart.myChart .oc-node .position4 {
  box-sizing: border-box;
  padding: 2px;
  width: 230PX;
  height: 45px;
  font-size: 0.625rem;
  border: 1px solid rgba(217, 83, 79, 0.8);
  border-radius: 0 0 4px 4px;
  text-align: center;
  background-color: rgba(217, 83, 79, 0.8);
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.font1{
  font-size: 14px;
  font-weight: 700;
  font-family: serif;
}

.font2{
  font-size: 16px;
  font-weight: 700;
}

.font3{
  font-size: 14px;
  font-weight: 700;
 margin-bottom: 30px;
}

.font-4{
  font-size: 12px;
  font-family:  monospace;
}
.orgchart.myChart .oc-node .fullname4 {
  box-sizing: border-box;
  color: #b31217;
  border: 1px solid rgba(217, 83, 79, 0.8);
  background-color:#ffff;
  ;
  /* width: 230px;
  height: 100px;
  padding: 10px 4px; */

  
  margin-top: 10px;

 
  padding: 2px;
  margin: 0;
  width: 230PX;
  height: 71px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  border-radius: 4px 4px 0 0;
}


.orgchart.myChart .oc-node .fullname5 {
  box-sizing: border-box;
  padding: 2px;
  width: 230PX;
  height: 25px;
  font-size: 0.625rem;
  border: 1px solid rgba(217, 83, 79, 0.8);
  border-radius: 0 0 4px 4px;
  text-align: center;
  background-color:#ffff;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .finalDiv{
  padding: 13px;
  border-radius: 5px 0px;
  background-color: #3285ff;
} */
.orgchart.myChart .oc-node .department4 {
  box-sizing: border-box;
  /* background-color: #f2b36e; */
  color: black;
  background-color: #ffffff;
  width: 230px;
  height: 45px;
  padding: 8px 2px;
  border: 1px solid #3385ff;
}

.orgchart-container {
  border: none !important;
  height: 290px;
}

.image img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* border: 5px solid #96f6b7; */
}