.Role-card-container-6{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;    
    padding: 10px;
    /* bottom: 105px; */
}

.family-card-container{
  background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1230px;
    height: auto;
    top: 10px;
    bottom: 10px;
    left: -5px;
    padding: 20px;
    padding-bottom: 40px;
}

.errorRes{
    margin-top: 8px;
    color: red
}
.family-form-container{
    padding-left: 25%;
    padding-right: 25%;
}
.family-heading{
    color: #000000;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.form-labels4{
    font-weight: bold;
    font-size: 14px;
}

.stretching{
    flex-grow: 1 !important;
   
}
.btn-container-role{
    padding-left: 60%;
    padding-right: 10%;
}
.seperator{
    margin-top: 3%;
    margin-bottom: 3%;
}
.blueColor-btns2{
    
    background: #0676ED!important;
    color: white;
    font-weight: 600;
    font-weight: bold;
    font-size: 12px;
    
}
.whiteColor-btn{
    
    background: white!important;
    color: black;
    font-weight: bold;
    /* font-weight: 600; */
font-size: 12px;


}
.blueColor-btn:hover{
    background: #0676ED !important;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    
}

.cancel-btn{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
}
.cancel-btn:hover{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
    
}

.Family-card-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1250px;
    height: 625px;
    top: 15px;
    bottom: 105px;
    left: 30px;
    padding: 20px; 
}

.box::-webkit-input-placeholder{
    font-size: 11px !important;
    
}
option{
    font-size: 11px !important;
}
.box ::-webkit-input-value{
    font-size: 11px !important;
}

  .family {
    margin: 0;
    position: absolute;
    left: 88%;
    padding:2%;
  }
  .family1 {
    margin: 0;
    position: absolute;
    left: 80%;
    
  }
  /* .ReactVirtualized__Table__row1 {
    text-align: center;

}
.ReactVirtualized__Table {
  text-align: center;

} */