.App {
  font-family: sans-serif;
  text-align: center;
}


.orgchart {
  background-image: none !important;
}

.orgchart-container {
  border: none !important;
  height: 400px;
}

.h1 {
  text-align: 'center';
}
.orgchart .top-level .title {
  background-color: #006699;
}
.orgchart .top-level .content {
  border-color: #006699;
}
.orgchart .middle-level .title {
  background-color: #009933;
}
.orgchart .middle-level .content {
  border-color: #009933;
}
.orgchart .bottom-level .title {
  background-color: #993366;
}
.orgchart .bottom-level .content {
  border-color: #993366;
}

.orgchart > ul > li > ul li::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  border-top: 2px solid rgba(217, 83, 79, 0.8);
  box-sizing: border-box;
}

.orgchart > ul > li > ul li .oc-node::before {
  content: "";
  position: absolute;
  top: -6px;
  left: calc(50% - 1px);
  width: 2px;
  height: 9px;
  background-color: rgba(217, 83, 79, 0.8);
}

/* .orgchart > ul > li > ul li::before {
  top: -4px!important;
} */
/* .orgchart ul li .oc-node .oc-content {
  box-sizing: border-box;
  padding: 2px;
  width: 150px;
  height: 30px;
  font-size: 0.75rem;
  border: 1px solid rgba(217, 83, 79, 0.8);
  border-radius: 0 0 4px 4px;
  text-align: center;
  background-color: rgba(217, 83, 79, 0.8);
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.orgchart ul li .oc-node .oc-heading {
  box-sizing: border-box;
  padding: 2px;
  margin: 0;
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(217, 83, 79, 0.8);
  color: #fff;
  border-radius: 4px 4px 0 0;
} */
/* .orgchart ul li .oc-node .oc-heading .oc-symbol::after {
  background-color: #fff;
  
}


.orgchart ul li .oc-node .oc-heading .oc-symbol::before {
    background-color: #fff;
    border-color: rgba(217, 83, 79, 0.8);
    height:'50px';
}

.orgchart ul li .oc-node:not(:only-child)::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: calc(50% - 1px);
  width: 2px;
  height: 9px;
  background-color: rgba(217, 83, 79, 0.8);
}

.orgchart > ul > li > ul li .oc-node::before {
  content: "";
  position: absolute;
  top: -11px;
  left: calc(50% - 1px);
  width: 2px;
  height: 9px;
  background-color: rgba(217, 83, 79, 0.8);
} */