
.errorRes{
    margin-top: 8px;
    color: red
}
.role-form-container{
    padding-left: 2%;
    padding-right: 2%;
}
.role-heading{
    font-family: Noto Sans;
font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.form-labels{
    font-weight: bold;
    font-size: 14px;
}

.stretching{
    flex-grow: 1 !important;
   
}
.btn-container-role{
    padding-left: 60%;
    padding-right: 10%;
}
.seperator{
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.blueColor-btn{
    
    background: #0676ED!important;
    color: white;
    font-weight: 600;
    font-size: 12px;
    width:100px;

}

.blueColor-btn:hover{
    background: #0676ED !important;
    color: #FFFFFF;
    font-weight: bold;
    
}
.Role-card-container{
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px !important;
    color: black;
    padding: 7%;
}
.cancel-btn{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
}
.cancel-btn:hover{
    border: 1px solid black;
    font-weight: bold;
    color: #000000;
    
}


.Roless-card-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    color: black;
    width: 1165px;
    height: 1100px;
    top: -15px;
    bottom: 105px;
    left: -30px;
    padding: 20px; 

}

.box::-webkit-input-placeholder{
    font-size: 11px !important;
}
option{
    font-size: 11px !important;
}
.box ::-webkit-input-value{
    font-size: 11px !important;
}
.icon-role-list{
    width: 20px;
    height: 20px;
}

  .centerd {
    margin: 0;
    position: absolute;
    left: 980px;
    width:200px;
  }
 